<mat-toolbar>
    <div class="footer-container" fxFlex fxLayout="column" fxLayoutAlign="space-around " fxLayoutGap="20px">
            
        <div class="footer-row" fxFlex fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around stretch"
            fxLayoutAlign.lt-md="center" fxLayoutGap="20px">
            <div class="footer-links"> 
                <mat-list>
                    <h2 mat-header>The Lord</h2>
                    <mat-list-item>
                        <a href="/products">
                            <div mat-line>Produtos</div>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="/tips">
                            <div mat-line>Dicas</div>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="/reservations">
                            <div mat-line>Marcações</div>
                        </a>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="footer-barbearia1">
                <mat-list>
                    <h2 mat-header>The Lord Barbershop</h2>
                    <mat-list-item>
                        <mat-icon mat-list-icon>place</mat-icon>
                        <div mat-line>Rua de Bragadela, Loja 24, 4760-706</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>mail</mat-icon>
                        <div mat-line>barberthelord@gmail.com</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>phone</mat-icon>
                        <div mat-line>+351 913 484 773</div>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="footer-barbearia2">
                <mat-list>
                    <h2 mat-header>The Lord Privé</h2>
                    <mat-list-item>
                        <mat-icon mat-list-icon>place</mat-icon>
                        <div mat-line>Avenida Rio Veirão, Loja 17, 4760-715</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>mail</mat-icon>
                        <div mat-line>barberthelord2@gmail.com</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>phone</mat-icon>
                        <div mat-line>+351 913 484 773</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="footer-column" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center"
            fxLayoutAlign.lt-md="center center">
            <img src="assets/logo.png">
            <p>The Lord Barbershop</p>
            <p>© 2021 The Lord Barbershop.</p>
            <p>All rights reserved.</p>
            <div class="footer-socials" fxLayout fxLayoutGap="10px">
                <div>
                    <a href="https://www.facebook.com/thelordbarbersh0p/">
                        <button mat-icon-button color="primary">
                            <mat-icon>facebook</mat-icon>
                        </button>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/thelordbarbersh0p/">
                        <button mat-icon-button color="primary">
                            <mat-icon>facebook</mat-icon>
                        </button>
                    </a>
                </div>

                <div>
                    <a href="https://open.spotify.com/playlist/1kgbkyzs3tiam4JdXFElSF?si=kvqTaJdAS2y3NuyMH5sVSg">
                        <button mat-icon-button color="primary">
                            <mat-icon>facebook</mat-icon>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>