mat-toolbar {
    background-color: #18191a;
    color: white;
    min-width: 100%;
    height: auto;
}

.mat-toolbar-single-row {
    padding: 0;
}

.mat-line {
    color: lightgrey !important;
    min-width: 100%;
}

mat-divider {
    background-color: grey !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-row {
    margin-top: 20px;
}

.footer-partners img {
    max-width: 150px;
}

.footer-column {
    word-break: break-all;
    white-space: normal;
    margin-bottom: 20px;
}

.footer-column img {
    width: 200px;
}

.copyright {
    font-size: 12px;
}

h2 {
    padding: 0 16px;
}

.footer-container {
    background-image: url(../../../assets/official/background.png);
    color: white;
    padding: 20px;
    .header-text {
        font-size: 24px;
    }
    .footer-info {
        width: 80%;
        .store-button-anchor {
            z-index: 0;
            width: 50%;
            .store-button {
                border-color: white;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: goldenrod;
                }
                -webkit-transition: background-color 500ms linear;
                -ms-transition: background-color 500ms linear;
                transition: background-color 500ms linear;
            }
        }
    }
    .partners img {
        max-width: 75px;
    }
    .footer-logo {
        img {
            max-width: 100px;
        }
    }
}

.social-media-info {
    img {
        width: 30px;
    }
}

/* Medium and below screens */
@media (max-width: 1024px) {
    .footer-copyright {
        text-align: center;
    }
    .stores {
        margin-top: 40px !important;
    }
}