<div class="homepage-container" style="height: 100%;">
    <div class="logo" fxLayout fxLayoutAlign="center ">
        <div class="the-lord" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img src="assets/the_lord.png">
            <button mat-flat-button color="warn">
                Marca Connosco
            </button>

            <div class="scroll-section-button" fxLayoutAlign="center center">
                <button class="scroll-button" mat-mini-fab (click)="scroll(stores)">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div #stores class="stores">
        <h1>AS NOSSAS BARBEARIAS</h1>
        <div class="stores-container mat-elevation-z0">
            <mat-grid-list cols="2" [rowHeight]="rowHeight" [gutterSize]="'10px'">
                <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
                    <mat-card class="mat-elevation-z0" (click)="storeClicked(card)">
                        <img mat-card-image src="assets/barbearia2.png">
                        <mat-card-content>
                            <div class="text-content" fxFlex fxLayout="column" fxLayoutGap="20px"
                                fxLayoutAlign="center center">
                                <span>{{card.title}}</span>

                                <div class="card-socials">
                                    <button mat-flat-button color="accent">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>