<div class="homepage-container" style="height: 100%;">
    <div class="logo" fxLayout fxLayoutAlign="center ">
        <div class="the-lord" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img src="assets/the_lord.png">
            <button mat-flat-button color="warn">
                Marca Connosco
            </button>

            <div class="scroll-section-button" fxLayoutAlign="center center">
                <button class="scroll-button" mat-mini-fab (click)="scroll(stores)">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div #stores class="stores">
        <h1>AS NOSSAS BARBEARIAS</h1>
        <div class="stores-container mat-elevation-z0">
            <div class="store-layout" fxFlex fxLayout fxLayoutAlign="center center" fxLayoutGap="20px"
                fxLayout.lt-md="column">
                <mat-card class="mat-elevation-z0" *ngFor="let store of availableStores" (click)="openStore(store)">
                    <img mat-card-image src="{{store.image}}">
                    <mat-card-content>
                        <div class="text-content" fxLayout="column" fxLayoutGap="20px"
                            fxLayoutAlign="space-between start">
                            <h2>{{store.name}}</h2>
                            <div fxLayout fxLayoutGap="10px">
                                <mat-icon>place</mat-icon>
                                <h4>{{store.address}}</h4>
                            </div>
                            <div fxLayout fxLayoutGap="10px">
                                <mat-icon>email</mat-icon>
                                <h4>{{store.email}}</h4>
                            </div>
                            <div fxLayout fxLayoutGap="10px">
                                <mat-icon>phone</mat-icon>
                                <h4>{{store.phoneNumber}}</h4>
                            </div>
                            <!-- <div class="card-socials">
                                <button mat-flat-button color="accent">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- <mat-grid-list cols="2" [gutterSize]="'10px'">
                <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
                    <mat-card class="mat-elevation-z0" (click)="storeClicked(card)">
                        <img mat-card-image src="assets/p.png">
                        <mat-card-content>
                            <div class="text-content" fxLayout="column" fxLayoutGap="20px"
                                fxLayoutAlign=" center">
                                <span>{{card.title}}</span>


                                <div class="card-socials">
                                    <button mat-flat-button color="accent">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list> -->
        </div>
    </div>
</div>