<div class="homepage-container" style="height: 100%">
  <section class="site-header">
    <div class="logo" fxLayout fxLayoutAlign="center ">
      <!--<div class="header-logo-left" fxFlex fxLayoutAlign="center center">
        <img src="assets/logo.png" />
         <img src="assets/official/the_lord_logo.png" />
      </div> -->

      <div class="header-slider" fxFlex="30%" fxFlex.lt-md="100%" fxLayoutAlign="center stretch">
        <div class="header-slider-container" fxFlex fxLayout="column" fxLayoutAlign="end center">
          <!-- <div class="temp">
            <img src="assets/temp.png" style="width: 100%" />
          </div> -->
          <div>
            <!-- <p>
              Multiline text Multiline text Multiline text Multiline text
              Multiline text Multiline text Multiline text Multiline text
              Multiline text
            </p> -->
            <!-- <p>Multiline text Multiline text Multiline text Multiline text Multiline text Multiline text
                            Multiline text Multiline text Multiline text </p> -->
          </div>
          <div>
            <button mat-flat-button class="reservations-button" (click)="openReservations()">
              Marca Connosco
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="scroll-section-button" fxLayoutAlign="center center">
                <button class="scroll-button" mat-mini-fab (click)="scroll(stores)">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div> -->

      <!-- <div class="header-logo-right" fxFlex fxLayoutAlign="center center">
        <img src="assets/logo.png" />
      </div> -->

      <!-- <div class="the-lord" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <img src="assets/the_lord.png">
                <button mat-flat-button color="warn">
                    Marca Connosco
                </button>
    
                <div class="scroll-section-button" fxLayoutAlign="center center">
                    <button class="scroll-button" mat-mini-fab (click)="scroll(stores)">
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </div>
            </div> -->
    </div>
  </section>

  <!-- <section>
    <div #stores class="stores">
      <h1>AS NOSSAS BARBEARIAS</h1>
      <div class="stores-container mat-elevation-z0">
        <div
          class="store-layout"
          fxFlex
          fxLayout
          fxLayoutAlign="center "
          fxLayoutGap="20px"
          fxLayout.lt-sm="column"
        >
          <mat-card
            appearance="outlined"
            class="mat-elevation-z0 store-card"
            *ngFor="let store of availableStores"
            (click)="openStore(store)"
          >
            <img mat-card-image src="{{ store.image }}" />
            <mat-card-content>
              <div
                class="text-content"
                fxLayout="column"
                fxLayoutGap="10px"
                fxLayoutAlign="space-between start"
              >
                <h2>{{ store.name }}</h2>
                <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                  <mat-icon>place</mat-icon>
                  <span>{{ store.address }}</span>
                </div>
                <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                  <mat-icon>email</mat-icon>
                  <span>{{ store.email }}</span>
                </div>
                <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                  <mat-icon>phone</mat-icon>
                  <span>{{ store.phoneNumber }}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div #stores class="stores stores-v2">
      <h1>AS NOSSAS BARBEARIAS</h1>
      <div class="stores-container mat-elevation-z0">
        <div class="store-layout" fxFlex fxLayout fxLayoutAlign="center center" fxLayoutGap="20px"
          fxLayout.lt-sm="column">
          <div *ngFor="let store of availableStores" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="5%">
            <img class="store-image" mat-card-image [src]="store.image" (click)="openStore(store)" />
            <div class="text-content text-content-v2" fxLayout="column" fxLayoutGap="10px"
              fxLayoutAlign="space-between start">
              <!-- <h2>{{ store.name }}</h2> -->
              <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                <mat-icon>place</mat-icon>
                <span>{{ store.address }}</span>
              </div>
              <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                <mat-icon>email</mat-icon>
                <span>{{ store.email }}</span>
              </div>
              <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                <mat-icon>phone</mat-icon>
                <span>{{ store.phoneNumber }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div #googleMaps class="google-maps">
      <a
        href="https://www.google.com/maps/dir/The+Lord+Barbershop+(Barbearia+The+Lord)/B+The+Travel+Brand+Ribeirao,+Avenida+Rio+Veir%C3%A3o+Empreendimento,+R.+Q.ta+da+Igreja+n%C2%BA+2+loja+2,+4760-715+Ribeir%C3%A3o/@41.3554295,-8.558381,17.29z/data=!4m13!4m12!1m5!1m1!1s0xd245f0db0ace52f:0xa11f9e8e92e22667!2m2!1d-8.5545208!2d41.3527768!1m5!1m1!1s0xd245f6b3415528f:0xac6270d179cfba5b!2m2!1d-8.5594827!2d41.357143?entry=ttu">
        <img class="google-maps-image" src="assets/official/map.png" />
      </a>
    </div>
  </section>
</div>