.homepage-container {
    height: 100%;
}

.logo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/header.jpg") ;
    background-position: center;
    -webkit-backgroud-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.the-lord img {
    max-width: 100%;
}

.scroll-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.stores {
    margin: 30px 0;
}

.stores h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}

.stores h1:after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

.stores-container {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    max-width: 250px;
    background: #423a38;
    -webkit-transition:  0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
    cursor: pointer;
}

.text-content {
    color: #ffd740;
}

mat-card:hover {
    cursor: pointer;
    background: #ffd740;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

mat-card:hover .text-content {
    color: #423a38;
}

// mat-card img{
//     max-height: 100%;
//     min-width: 50%;
//     -webkit-transition: opacity 0.25s ease-in-out;
//     -moz-transition: opacity 0.25s ease-in-out;
//     transition: opacity 0.25s ease-in-out;
// }

// mat-card-content {
//     color: white;
//     font-size: 20px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     -ms-transform: translate(-50%, -50%);
//     cursor: none;
//     pointer-events: none;
//     cursor: pointer;
// }
  
// mat-card img:hover + mat-card-content {
//     visibility: visible;
// }

@media (hover: none) {
    mat-card-content {
        visibility: visible;
    }
}

// .dashboard-card {
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     right: 15px;
//     bottom: 15px;
// }
  
// .dashboard-card-content {
//     text-align: center;
// }