<div class="navigation-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'" (openedStart)="openSidenavEvent()"
      (closedStart)="closeSidenavEvent()">
      <mat-toolbar>
        <!-- <img src="assets/the_lord.png"> -->
      </mat-toolbar>
      <div fxLayout fxLayoutAlign="column" fxLayoutAlign="center " fxLayoutGap="20px">
        <mat-nav-list>
          <!-- <a mat-list-item [href]="store.route" *ngFor="let store of dataService.getStores()">{{store.name}}</a>
          <a mat-list-item href="#">Produtos</a> -->
          <!-- <a mat-list-item href="#">Dicas</a> -->
          <a class="list-item" mat-list-item (click)="drawer.toggle(); openReservations()"><span
              class="list-text">Marcações</span></a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="navigation-bar" color="primary" fxLayoutAlign="center center" (scroll)="onWindowScroll()">
        <div class="navigation-actions" fxFlex="100%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutAlign="center center"
          fxLayoutAlign.lt-md="space-between center">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">{{sidenavOpen ? 'close' : 'menu'}}</mat-icon>
          </button>
          <div class="navigation-logo" fxLayout>
            <a href="" *ngIf="showLogo">
              <img src="assets/official/the_lord_logo_golden.png">
            </a>
          </div>
        </div>
      </mat-toolbar>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>