.sidenav-container {
  height: 100%;
}

.sidenav {
  // width: 200px;
  width: 100%;
  height: 50%;
  transform: translate3d(0, -100%, 0);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.navigation-bar {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  top: 0; 
  z-index: 1250; 
  background-color: transparent;
  transition: background-color 200ms linear;
  color: white;
}

.navigation-bar .mat-mdc-unelevated-button {
  background-color: goldenrod;
  color: white;
}

.navigation-bar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  color: goldenrod;
}

.navigation-bar.open {
  color: goldenrod;
}

.navigation-logo img {
  width: 60px;
  height: auto;
}

.content-container {
  min-height: 100vh
}

img {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
::ng-deep .mat-button-focus-overlay {
  background-color: transparent!important;
}

/* Medium and below screens */
@media (max-width: 1024px) {
  .navigation-logo {
    // translate: 12px;
  }
}

.mat-drawer-content {
  z-index: auto !important;
}